<!--
<div class="flex row wrap">
    <repeat group="{{ @data->thumbs }}" value="{{ @thumb }}">
        <div class="w-30">
            <a href="{{@BASE}}{{ 'employee' , 'empno='.@thumb->id | alias }}">
                <div class="inner wrap">
                    <img src='{{ @thumb->image }}' class="pic-thumb">
                    <h4>{{ @thumb->lastname }}, {{ @thumb->firstname }}</h4>
                </div>
            </a>
        </div>
    </repeat>
</div>
-->


<div class="flex row wrap">
    <repeat group="{{ @data->thumbs }}" value="{{ @thumb }}">
        <div class="{{ @data->thumbClass }}">
            <a href="{{@BASE}}{{ 'employee' , 'empno='.@thumb->id | alias }}" class="block">
                <div class="inner wrap">
                    <img src='{{ @thumb->image }}' class="pic-thumb va-middle">
                    <h4>{{ @thumb->lastname }}, {{ @thumb->firstname }}</h4>
                </div>
            </a>
        </div>
    </repeat>
</div>
